.title{
text-align: center
}
.bio{
  text-align: center;
}
img{
  width: 100%;
  margin-bottom: 10px;
}
.page-header{
  margin: 0 0 10px 0;
  background-image:url("mixed-berries1.jpg");
  padding: 50px;
  width: 100%;
  position: center center;
  background-repeat:no-repeat;
  align-content: center;
}
.drink{
  width: 32%;
margin: 10px;
}
.detoxH20{
  display: flex;
}
p{
  text-align: justify;
}
h2{
  text-align: center;
}
